.user_info {
    padding-left: 1rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    border-left: 2px solid var(--primary-color);
    color: var(--primary-color);
    .theme {
        margin-bottom: 2rem;
    }
}

@media (max-width: 900px) {
    .user_info {
        padding: 0;
        border: none;
    }
}