.main {
    height: 100svh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--primary-bg);

    .form_wrapper {
        position: relative;
        width: min(20rem, 95%);
        height: 35rem;
        // background: #fff;
        color: #000;
        perspective: 1000px;
    }
}