* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* outline: 1px solid #fff; */
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  /* height: 100svh; */
}


a {
  color: inherit;
  text-decoration: none;
}

:root {
  /* --main-bg: #A1A0BD;
  --primary-bg: #fff;
  --secondary-bg: #717085;
  --tertiary-bg: #ffffffb3;
  --dark-bg: #717085;

  --primary-color: #1A202E;
  --secondary-color: #121620; */

  --primary-green: #4FD18B;
  --secondary-green: #DCF5E8;
  --dark-green: #369361;

  --primary-red: #D14F4F;
  --secondary-red: #F5DCDC;
}

:root[data-theme="dark"] {
  --main-bg: rgba(53, 53, 53);
  --primary-bg: #1A202E;
  --secondary-bg: #121620;
  --tertiary-bg: rgba(26, 32, 46, 0.7);
  --dark-bg: #111520;

  --primary-color: #fff;
  --secondary-color: #A1A0BD;
}

:root[data-theme="light"] {
  --main-bg: #A1A0BD;
  --primary-bg: #fff;
  --secondary-bg: #717085;
  --tertiary-bg: #ffffffb3;
  --dark-bg: #717085;

  --primary-color: #1A202E;
  --secondary-color: #121620;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg: rgba(53, 53, 53);
    --primary-bg: #1A202E;
    --secondary-bg: #121620;
    --tertiary-bg: rgba(26, 32, 46, 0.7);
    --dark-bg: #111520;

    --primary-color: #fff;
    --secondary-color: #A1A0BD;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --main-bg: #A1A0BD;
    --primary-bg: #fff;
    --secondary-bg: #717085;
    --tertiary-bg: #ffffffb3;
    --dark-bg: #717085;

    --primary-color: #1A202E;
    --secondary-color: #121620;
  }
}

@media (max-width: 768px) {

  html,
  body {
    font-size: 14px;
  }
}

@media (max-width: 425px) {

  html,
  body {
    font-size: 12px;
  }
}

@media (max-width: 320px) {

  html,
  body {
    font-size: 10px;
  }
}